* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* ==== to hide scrollbar ==== */
  ::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* style variables */
  :root {
    --font1: "Outfit", sans-serif;
    --font2: "Libre Baskerville", serif;
    --font3: "Bebas Neue", sans-serif;
    --primarycolor: #f1f1f1;
    /* --secondrycolor:#f0a500; */
    --secondrycolor: #f8b81f;
    --headingcolor: #1ab79d;
    --textcolor: #1f1f1f;
  }
  
  /* ===== body ===== */
  body {
    font-family: var(--font1);
    background-color: #ffffffc7;
    color: var(--textcolor);
  }
  
  /* ======== home ======= */
  .home {
    width: 100%;
    height: 100vh;
  }
  
  .home .home-wrapper {
    width: 95%;
    margin: auto;
    position: relative;
    top: 30px;
    text-align: left;
    display: flex;
  }
  
  .home-headings {
    width: 100%;
    padding-top: 150px;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .mainheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding-top: 110px;
  }
  
  
  .home-wrapper .home-headings h1 {
    font-family: var(--font1);
    text-transform: uppercase;
  }
  
  .description {
    font-size: 20px;
    margin-top: 25px;
    text-transform: capitalize;
    word-spacing: 2px;
  }
  
  /* ========== navbar ======== */
  .navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #010101;
    z-index: 2;
    position: fixed;
  }
  .main-el{
    font-family: cursive;
    font-size: 20px;
    color: #f1f1f1;
  }
  .nav-elements p{
    color: #f1f1f1;
    font-family: var(--font1);
    margin-bottom: 10px;
  }
  .navbar .nav-elements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  /* ==== nav elements border design ===== */
  .navbar .nav-elements ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--secondrycolor);
    border-radius: 2px;
    left: 0;
    bottom: 0;
    transition: 0.5s;
  }
  
  .navbar .nav-elements ul li a:hover::after {
    width: 100%;
  }
  
  .navbar .nav-elements ul li a:active:after {
    width: 100%;
  }
  
  /* ====== contact-us button */
  .contact-us {
    /* margin-left: 15px; */
    height: 40px;
    width: 120px;
    font-size: 16px;
    margin-block: 10px;
    text-transform: capitalize;
    font-family: var(--font1);
    font-weight: 600;
    /* color: var(--primarycolor); */
    background-color: var(--secondrycolor);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }