* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ==== to hide scrollbar ==== */
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* ===== body ===== */
body {
  font-family: var(--font1);
  background-color: #f9afa0;
  background-image: url(Bg/bg1.jpg);
  background-position: 100%;
  /* background-attachment: fixed; */
  color: var(--textcolor);
}

/* ======== home ======= */
.home {
  width: 100%;
  /* height: 100vh; */
}

/*   
  .home .home-wrapper {
    width: 95%;
    margin: auto;
    position: relative;
    top: 30px;
    text-align: left;
    display: flex;
  } */

.home-headings {
  width: 100%;
  padding-top: 100px;
  justify-content: center;
  /* display: flex; */
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.home-headings .intro{
  font-size: 20px;
  text-align: center;
  color: #491105;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}



/* ========== navbar ======== */
.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #fde8e4;
  color: #491105;
  z-index: 2; 
  position: fixed;
}

.main-el {
  font-size: 28px;
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}
.main-el i{
  font-size: 22px;
  margin: 0px 5px;
}

.nav-elements p {
  font-size: 10px;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  /* margin-bottom: 5px; */
  margin-top: 5px;
  text-align: center;
}

.navbar .nav-elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}


/* ==== nav elements border design ===== */
.navbar .nav-elements ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--secondrycolor);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.navbar .nav-elements ul li a:hover::after {
  width: 100%;
}

.navbar .nav-elements ul li a:active:after {
  width: 100%;
}




/* -- ======== Locations URl ====== */
#all-location {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 40px;
  margin-top: 30px;
  /* width: 250px; */
  color: #f1f1f1;
  margin-bottom: 20px;

}

.location {
  width: 250px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
   border: #ffd4ca   5px solid ;
}

.location img {
  width: 100%;
  border-radius: 5px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(249, 224, 224, 0.6), #f7c5ba);
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.2s;
  color: #491105;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}


.layer h3 {
  font-weight: 500;
  /* margin-bottom: 20px; */
}
.layer .gape{
    margin-bottom: 20px;
}
.layer .gap{
  margin: 3px 0px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.location:hover img {
  transform: scale(1.1);
}

.location:hover .layer {
  height: 100%;
}

.layer a i{
  color: #ff3434;
}


/* -----------Footer-------- */

.copyr {
  width: 100%;
  height: 50px;
  background-color: #ffdad2d1;
  color: #491105;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-top: #ea8a75 1px solid;
}

.copyr p {
  font-size: 10px;
  font-family: cursive;
}

.copyr i{
  margin-left: 5px;
}